*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#f5f3ff;
color:#222;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 50px;
background:white;
position:sticky;
top:0;
box-shadow:0 5px 20px rgba(0,0,0,.08);
z-index:99;
}

.navLinks a{
margin:0 12px;
text-decoration:none;
color:#6d28d9;
font-weight:bold;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:70px;
background:linear-gradient(135deg,#6d28d9,#9333ea);
color:white;
}

.heroText{
width:50%;
}

.badge{
background:#ffffff25;
padding:8px 15px;
border-radius:30px;
display:inline-block;
margin-bottom:20px;
}

.hero h1{
font-size:52px;
line-height:60px;
}

.hero h1 span{
color:#fde047;
}

.hero p{
margin:20px 0;
font-size:18px;
line-height:28px;
}

.heroButtons{
display:flex;
gap:15px;
margin-top:30px;
}

.primary{
background:#fff;
color:#6d28d9;
padding:12px 22px;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

.secondary{
background:transparent;
color:white;
border:2px solid white;
padding:12px 22px;
border-radius:10px;
cursor:pointer;
}

.heroImage img{
width:360px;
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,.3);
}

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:40px 60px;
margin-top:-30px;
}

.statCard{
background:white;
padding:25px;
border-radius:18px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.statCard h2{
font-size:34px;
color:#6d28d9;
}

.features{
padding:60px;
}

.features h2{
text-align:center;
margin-bottom:40px;
font-size:34px;
}

.featureGrid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
}

.featureCard{
background:white;
padding:30px;
border-radius:18px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
transition:.3s;
}

.featureCard:hover{
transform:translateY(-8px);
}

.featureCard h3{
margin-bottom:15px;
color:#6d28d9;
}

.cta{
margin:60px;
background:linear-gradient(135deg,#7c3aed,#a855f7);
color:white;
padding:50px;
text-align:center;
border-radius:25px;
}

.footer{
background:#240046;
color:white;
text-align:center;
padding:35px;
margin-top:50px;
}

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.heroText{
width:100%;
}

.stats{
grid-template-columns:repeat(2,1fr);
}

.featureGrid{
grid-template-columns:1fr;
}

.heroImage img{
margin-top:30px;
width:280px;
}

}